
<html>
<head>
  <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <script>

  google.charts.load('current', {packages: ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawChart_01);
  google.charts.setOnLoadCallback(drawChart_02);
  google.charts.setOnLoadCallback(drawChart_03);
  google.charts.setOnLoadCallback(drawChart_04);

  function drawChart_01() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'price');

        data.addRows([
          [0, 0],    [1, 10],   [2, 23],  [3, 17],   [4, 18],  [5, 9],
          [6, 11],   [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
          [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
          [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
          [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
          [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
          [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
          [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
          [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
          [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
          [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
          [66, 70], [67, 72], [68, 75], [69, 80]
        ]);

        var options = {
          hAxis: {
            title: '',
            gridlines: {
                color: 'transparent'
            }
          },
          vAxis: {
            title: '',
            gridlines: {
                color: 'transparent'
            }
          },
          colors: ['green'],
          legend: {position: 'none'},
          lineWidth: 5
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div_01'));
        chart.draw(data, options);

      }

      function drawChart_02() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'price');

            data.addRows([
              [0, 0],    [1, 10],   [2, 23],  [3, 17],   [4, 18],  [5, 9],
              [6, 11],   [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
              [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
              [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
              [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
              [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
              [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
              [42, 63], [43, 50], [44, 40], [45, 30], [46, 25], [47, 70],
              [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
              [54, 71], [55, 72], [56, 50], [57, 55], [58, 50], [59, 58],
              [60, 44], [61, 40], [62, 55], [63, 37], [64, 38], [65, 29],
              [66, 20], [67, 32], [68, 45], [69, 30]
            ]);

            var options = {
              hAxis: {
                title: '',
                gridlines: {
                    color: 'transparent'
                }
              },
              vAxis: {
                title: '',
                gridlines: {
                    color: 'transparent'
                }
              },
              colors: ['red'],
              legend: {position: 'none'},
              lineWidth: 5
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div_02'));
            chart.draw(data, options);
          }



          function drawChart_03() {
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'X');
                data.addColumn('number', 'price');

                data.addRows([
                  [0, 0],    [1, 10],   [2, 23],  [3, 17],   [4, 18],  [5, 9],
                  [6, 11],   [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
                  [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                  [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                  [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                  [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                  [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                  [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
                  [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                  [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
                  [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
                  [66, 70], [67, 72], [68, 75], [69, 80]
                ]);

                var options = {
                  hAxis: {
                    title: '',
                    gridlines: {
                        color: 'transparent'
                    }
                  },
                  vAxis: {
                    title: '',
                    gridlines: {
                        color: 'transparent'
                    }
                  },
                  colors: ['green'],
                  legend: {position: 'none'},
                  lineWidth: 5
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div_03'));
                chart.draw(data, options);

              }


          function drawChart_04() {
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'X');
                data.addColumn('number', 'price');

                data.addRows([
                  [0, 0],    [1, 10],   [2, 23],  [3, 17],   [4, 18],  [5, 9],
                  [6, 11],   [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
                  [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                  [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                  [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                  [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                  [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                  [42, 63], [43, 50], [44, 40], [45, 30], [46, 25], [47, 70],
                  [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                  [54, 71], [55, 72], [56, 50], [57, 55], [58, 50], [59, 58],
                  [60, 44], [61, 40], [62, 55], [63, 37], [64, 38], [65, 29],
                  [66, 20], [67, 32], [68, 45], [69, 30]
                ]);

                var options = {
                  hAxis: {
                    title: '',
                    gridlines: {
                        color: 'transparent'
                    }
                  },
                  vAxis: {
                    title: '',
                    gridlines: {
                        color: 'transparent'
                    }
                  },
                  colors: ['red'],
                  legend: {position: 'none'},
                  lineWidth: 5
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div_04'));
                chart.draw(data, options);
              }
  </script>

<style>
body{
    background: #eee;
}
.desc{
    font-size:19px;
}

.expl{
  font-size:10px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
</style>

</head>
<body>

<div class="container-fluid">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">K</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-lg-2 btn-outline-info" type="search" placeholder="Search" aria-label="Search" id="navBarSearchForm">
      </form>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Market
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">All Stocks</a>
            <a class="dropdown-item" href="#">Forex</a>
            <a class="dropdown-item" href="#">Cryptocurrency</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">U.S. Market</a>
            <a class="dropdown-item" href="#">Thai Market</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>




  <div class="box">
       	<div class="row">


  			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  					  <div class="box-part text-center">
              <div id="chart_div_01"></div>
  						<div class="title">
  							<h4>NASDAQ:AAPL <span class="badge badge-success">USD 5.60</span></h4>
  						</div>
  						<div class="text">
  							<span class="desc">Technology: Apple Computer Inc.</span>
  						</div>
  						<a href="#">Why you may buy?</a>
              <div class="text"><span class="expl">*your potential return in the next 7 days</span></div>
  					 </div>
  				  </div>


  		</div>
  </div>

</div>

</body>
</html>
